
.cart {
    display: flex;
    justify-content: space-between;
    
    background-color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #eee;
  }
  
  .cartItems {
    flex: 1;
    margin-right: 20px;
  }
  
  .productDetails {
    margin-bottom: 20px;
  }
  
  .product {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
  }
  
  .product img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .productInfo {
    flex: 1;
  }
  
  .productPrice {
    min-width: 80px;
    text-align: right;
  }
  
  .cartSummary {
    border: 1px solid #eee;
    padding: 20px;
  }
  
  .cartSummary h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .summaryDetails {
    margin-bottom: 20px;
  }
  
  .summaryDetails div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .total {
    font-weight: bold;
  }
  
  .checkoutButton {
    background-color: #f15b5a;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 4px;
    width: 100%;
    max-width: 200px;
    margin-top: 20px;
  }
  
  .checkoutOptions {
    flex: 1;
    margin-left: 20px;
  }
  
  .checkoutOptions h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .paymentMethods {
    margin-top: 10px;
  }
  
  .paymentMethod {
    margin-bottom: 10px;
  }
  
  .paymentMethod label {
    margin-left: 10px;
  }
  